.img{
    background-image: url(../images/hh.jpg);
    height: 1000px;
    width: 700px;
    background-size: cover;
    margin-left: 300px;
}
.name{
    padding-left: 420px;
    padding-top: 320px;
    position: relative;
    top: 30px;
   
    
}
.jsp{
    width: 235px;
    height: 235px;
    border-radius: 50%;
   position: relative;
   top: -329px;
   left: 385px;

}
p{
    font-size: 20px;
    position: relative;
    top: -300px;
    left: 50px;
}
.exp > p{
    padding: 50px;
}
.exp>h1{
    position: relative;
    top: -250px;
    left: 80px;
}
.skills{
    position: relative;
    top: -350px;
    left:450px;
  

}
.label{
    width: 200px;
    max-width: 200px;
    height:150px;
    overflow: auto;
}
.myname >p{
position: relative;
top: -350px;
}
body{
    background-color: azure;
}