img{
    height: 400px;
    width: 400px;
    padding-left: 140px;
    opacity: 60%;
}
h1{
    padding-left: 520px;
}
button{
    position: relative;
    top: 390px;
    left: -230px;
}
.style{
    display: flex;
    flex-direction: row;
}